nbproject/

csharpticketsystem/WindowsFormsApplication1/WindowsFormsApplication1/obj/Debug/

csharpticketsystem/WindowsFormsApplication1/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1\.exe

csharpticketsystem/WindowsFormsApplication1/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1\.pdb
