USE [master]
GO
/****** Object:  Database [TickSys]    Script Date: 2/27/2017 12:11:17 PM ******/
CREATE DATABASE [TickSys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TickSys', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TickSys.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TickSys_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TickSys_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TickSys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TickSys]
GO
/****** Object:  User [Superadmin]    Script Date: 2/27/2017 12:11:18 PM ******/
CREATE USER [Superadmin] FOR LOGIN [Superadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 2/27/2017 12:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_subject] [varchar](100) NOT NULL,
	[ticket_issue] [varchar](max) NOT NULL,
	[ticket_sollution] [varchar](max) NULL,
	[ticket_datetime] [datetime] NULL,
	[ticket_user] [varchar](50) NULL,
	[ticket_state] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/27/2017 12:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](16) NOT NULL,
	[passwd] [nchar](24) NOT NULL,
	[naam] [nvarchar](50) NULL,
	[afdeling] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
